extends layout

block main-content 
    h1.page-title
    #main-content-images
        img(src="/img/clothes.jpg")
        img(src="/img/shoes.jpg")
        img(src="/img/bags.jpg")
        img(src="/img/home.jpg")
    #main-content-image-description
        a(href="/") clothes
        a(href="/") shoes
        a(href="/") bags
        a(href="/") home and living
